body{
    margin: 0px;
    height: 0px;
    
   background-color: rgb(250, 234, 6);
}

@media screen and (min-width: 960px){ 
    #main-wrapper{
        width: 85%;
        
        background-color: #fff;
       
    } 
    
} 
#statement, #lead, .yellow-bg{
    background-size: cover !important;

    background: url('circleoutline_side.png') top center no-repeat,linear-gradient(#eaab00,#ffdd36) !important;
}
#statement img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
#testimonials img{
    width: 175px;
    height: 175px;
    border-radius: 100%;
    border: 7px solid #ffffff !important;
}
#bright-ideas img{
    border: 5px solid #ffdd36;
    margin-top: 20px !important;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
#bright-ideas h3{
    margin-top: 20px !important;
}
#statement h3{
    text-align: center;
}
.core-benefit img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}
#criscia-img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.border-radius-gray{
    border-radius: 3%;
    border-bottom: 3px solid rgb(168, 160, 160);
}
.criscia-talk{
    border: 1px solid rgb(253, 214, 107);
    text-align: center;
    line-height: 100px;
}